#footer
  width: 100%
  text-align: center
  padding: 10px
  ul
    list-style: none
    display: inline-flex
    margin: auto 0
    justify-content: space-between
    width: 400px
    margin: 10px
    a
      color: white
      text-decoration: none
