#login-container
  #login-split-container
    display: flex
    justify-content: space-around
    #login-left
      width: 350px
      display: flex
      align-items: center
      flex-wrap: wrap
      div
        width: 100%
    #login-right
      width: 350px
      input
        width: 100%
